/* Check if the screen size is mobile */
@media only screen and (max-width: 767px),
  only screen and (max-device-width: 767px) {
  #navBarFilter {
    display: block;
    margin-bottom: 5px;
  }
  #sideBarFilter {
    display: none;
  }
}

/* Check if the screen size is not mobile */
@media only screen and (min-width: 768px),
  only screen and (min-device-width: 767px) {
  #navBarFilter {
    display: none;
  }
  #sideBarFilter {
    display: block;
  }
}
